<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Company">
    <id column="companyId" jdbcType="VARCHAR" property="companyId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="contactName" jdbcType="VARCHAR" property="contactName" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="companyAddress" jdbcType="VARCHAR" property="companyAddress" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="companyType" jdbcType="VARCHAR" property="companyType" />
  </resultMap>

  <delete id="delete" parameterType="java.lang.String">
    delete from company
    where companyId = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="club.fangqcloud.pojo.Company">
    insert into company (companyId, companyName, contactName, 
      telephone, companyAddress, logo, 
      companyType)
    values (#{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{companyType,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="club.fangqcloud.pojo.Company">
    update company
    <set>
        <if test='companyName != null and companyName != "" '>
            companyName = #{companyName,jdbcType=VARCHAR},
        </if>
        <if test='contactName != null and contactName != "" '>
            contactName = #{contactName,jdbcType=VARCHAR},
        </if>
        <if test='telephone != null and telephone != "" '>
            telephone = #{telephone,jdbcType=VARCHAR},
        </if>
        <if test='companyAddress != null and companyAddress != "" '>
            companyAddress = #{companyAddress,jdbcType=VARCHAR},
        </if>
        <if test='logo != null and logo != "" '>
            logo = #{logo,jdbcType=VARCHAR},
        </if>
        <if test='companyType != null and companyType != "" '>
            companyType = #{companyType,jdbcType=VARCHAR}
        </if>
    </set>
    where companyId = #{companyId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select companyId, companyName, contactName, telephone, companyAddress, logo, companyType
    from company
    where companyId = #{companyId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select companyId, companyName, contactName, telephone, companyAddress, logo, companyType
    from company
  </select>

    <select id="selectByCompanyName" parameterType="String" resultType="club.fangqcloud.pojo.Company">
        select * from company where 1=1
        and companyName like CONCAT('%',#{companyName},'%')
    </select>
</mapper>