<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.InsuredMapper">
  <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Insured">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="healthState" jdbcType="VARCHAR" property="healthState" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="personType" jdbcType="VARCHAR" property="personType" />

    <collection column="openid" property="policyList" select="club.fangqcloud.mapper.PolicyMapper.selectListByOpenid"></collection>
    <collection property="taskList" column="openid" select="club.fangqcloud.mapper.TaskMapper.selectListByOpenid">
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from insured
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="club.fangqcloud.pojo.Insured">
      replace into insured (openid, id, name,
      sex, code, telephone, 
      address, healthState, avatarUrl, 
      personType)
    values (#{openid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{healthState,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{personType,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="club.fangqcloud.pojo.Insured">
    update insured
    set id = #{id,jdbcType=VARCHAR},
      "name" = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      healthState = #{healthState,jdbcType=VARCHAR},
      avatarUrl = #{avatarUrl,jdbcType=VARCHAR},
      personType = #{personType,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select openid, id, name, sex, code, telephone, address, healthState, avatarUrl,personType
    from insured
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select openid, id, "name", sex, code, telephone, address, healthState, avatarUrl, 
    personType
    from insured
  </select>
  <select id="selectOpenidById" parameterType="String" resultType="String">
    select openid
    from insured
    where id=#{id}
  </select>
</mapper>