<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.PolicyviewMapper">
  <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Policyview">
    <result column="policyId" jdbcType="VARCHAR" property="policyId" />
    <result column="companyId" jdbcType="VARCHAR" property="companyId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="paymentType" jdbcType="VARCHAR" property="paymentType" />
    <result column="effectiveDate" jdbcType="DATE" property="effectiveDate" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="policyState" jdbcType="VARCHAR" property="policyState" />
    <result column="policyType" jdbcType="VARCHAR" property="policyType" />
    <result column="policyLevel" jdbcType="INTEGER" property="policyLevel" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <insert id="insert" parameterType="club.fangqcloud.pojo.Policyview">
    insert into policyview (policyId, companyId, companyName, 
      paymentType, effectiveDate, logo, 
      policyState, policyType, policyLevel, 
      name1, name2, description
      )
    values (#{policyId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=DATE}, #{logo,jdbcType=VARCHAR}, 
      #{policyState,jdbcType=VARCHAR}, #{policyType,jdbcType=VARCHAR}, #{policyLevel,jdbcType=INTEGER}, 
      #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select policyId, companyId, companyName, paymentType, effectiveDate, logo, policyState, 
    policyType, policyLevel, name1, name2, description
    from policyview
  </select>
  <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Policyview">
    <result column="policyId" jdbcType="VARCHAR" property="policyId" />
    <result column="companyId" jdbcType="VARCHAR" property="companyId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="paymentType" jdbcType="VARCHAR" property="paymentType" />
    <result column="effectiveDate" jdbcType="DATE" property="effectiveDate" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="policyState" jdbcType="VARCHAR" property="policyState" />
    <result column="policyType" jdbcType="VARCHAR" property="policyType" />
    <result column="policyLevel" jdbcType="INTEGER" property="policyLevel" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <insert id="insert" parameterType="club.fangqcloud.pojo.Policyview">
    insert into policyview (policyId, companyId, companyName, 
      paymentType, effectiveDate, logo, 
      policyState, policyType, policyLevel, 
      name1, name2, description
      )
    values (#{policyId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=DATE}, #{logo,jdbcType=VARCHAR}, 
      #{policyState,jdbcType=VARCHAR}, #{policyType,jdbcType=VARCHAR}, #{policyLevel,jdbcType=INTEGER}, 
      #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select policyId, companyId, companyName, paymentType, effectiveDate, logo, policyState, 
    policyType, policyLevel, name1, name2, description
    from policyview
  </select>
</mapper>