<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.WorkerMapper">
  <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Worker">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="healthState" jdbcType="VARCHAR" property="healthState" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="personType" jdbcType="VARCHAR" property="personType" />
    <result column="serviceState" jdbcType="VARCHAR" property="serviceState" />
    <result column="monthServiceHours" jdbcType="INTEGER" property="monthServiceHours" />
    <result column="wholeServiceHours" jdbcType="INTEGER" property="wholeServiceHours" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from worker
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="club.fangqcloud.pojo.Worker">
    insert into worker (openid, id, "name", 
      sex, code, telephone, 
      address, healthState, serviceState, 
      personType, monthServiceHours, wholeServiceHours, 
      avatarUrl)
    values (#{openid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{healthState,jdbcType=VARCHAR}, #{serviceState,jdbcType=VARCHAR}, 
      #{personType,jdbcType=VARCHAR}, #{monthServiceHours,jdbcType=INTEGER}, #{wholeServiceHours,jdbcType=INTEGER}, 
      #{avatarUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="club.fangqcloud.pojo.Worker">
    update worker
    set id = #{id,jdbcType=VARCHAR},
      "name" = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      healthState = #{healthState,jdbcType=VARCHAR},
      serviceState = #{serviceState,jdbcType=VARCHAR},
      personType = #{personType,jdbcType=VARCHAR},
      monthServiceHours = #{monthServiceHours,jdbcType=INTEGER},
      wholeServiceHours = #{wholeServiceHours,jdbcType=INTEGER},
      avatarUrl = #{avatarUrl,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select openid, id, "name", sex, code, telephone, address, healthState, serviceState, 
    personType, monthServiceHours, wholeServiceHours, avatarUrl
    from worker
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select openid, id, "name", sex, code, telephone, address, healthState, serviceState, 
    personType, monthServiceHours, wholeServiceHours, avatarUrl
    from worker
  </select>
</mapper>